.container {
    font-family: "Montserrat-Bold";
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.container h1 {
    color: white;
    margin-bottom: 50px;
}
.buttonContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
}
.container button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.container button:hover {
    transition: 0.3s;
    background-color: #222831;
    color: white;
    transform: scale(1.1);
}
.options {
    display: flex;
}
