.container {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    align-content: center;
}
.total {
    margin-left: 50px;
    margin-top: 50px;
    color: white;

    font-family: "Montserrat-Bold";
}
.total h1 {
    font-size: 38px;
}
.total p {
    font-size: 24px;
}
