.container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 10%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column {
    gap: 15px;
    display: flex;
    flex-direction: row;
}
.brandbar {
    display: grid;
}
