.container {
    display: flex;
    gap: 10px;
}
.brand {
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    height: 45px;
    font-family: "Montserrat-Medium";
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.brand:hover {
    background-color: #222831;
    color: white;
}
